/*
    Colors
        Dark Blue: #00304f
        Light Blue: #00a2d4
        White: #dbf5ff
        Gold: #d6bc3e
        Cyan: #9efdff

*/

/*********************************
    Header font
**********************************/
h1, h2 {
    font-family: ethnocentric,sans-serif;
    font-weight: 200;
    font-style: normal;
}
.borderbottom {
    font-size: 1.5em;
    border-bottom: dotted 1px rgba(64, 195, 255, 0.35);
}

p, a, li, h1, h2, h3, h4, strong {
    color: #dbf5ff; /*White*/
}

img {
    width: 100%;
}

.center {
    text-align: center;
    margin: auto;
    width: 75%;
}

/*****************************
    Nav & Logo
 *****************************/

#sidebar {
    background-color: #00a2d4; /*Accent*/
    padding-left: 2%;
}

/*Underline in Nav*/
#sidebar nav a:before {
    background: #d6bc3e; /*Gold*/
}

#logo {
width: auto;
padding-right: 0.5rem;
}

@media screen and (max-width: 1680px) {
    #logo {
        padding: 0 0 .5rem;
    }
}

/*****************************
    Intro
*******************************/
#intro {
    background-color: #00304f; /*Main*/
}

.wrapper.style2 {
    background-color: #00a2d4; /*Accent*/
}

/******************************
    What We're Doing
*******************************/

#two {
    background-color: #00304f; /*Main*/
}

/*****************************
    Get in touch
 *****************************/

#three {
    /*Main to Accent*/
    background: linear-gradient(#00304f, #00a2d4);
}

#three h2, #three p, #three label {
    color: #dbf5ff; /*White*/
}

#three input, textarea {
    background: rgb(219 245 255 / 0.55)
}

/********************************
    Footer
*********************************/

#footer {
    background-color: #00a2d4; /*Accent*/
}

/********************************
    How It Works page
*********************************/

#main {
    background-color: #00304f; /*Main*/
}

/*********************************
    Roadmap page
**********************************/

.check {
    list-style: none;
}

    .check::before {
        content: '✔';
        padding-right: 1.1rem;
        margin-left: -2rem;
    }

/***************************
        Lite Paper page
*****************************/

#litetitle {
    padding-bottom: 0;
    margin-bottom: 0;
}

#litesub {
    padding: 0;
    margin: 0;
}
