/*
    Colors
        Dark Blue: #00304f
        Light Blue: #00a2d4
        White: #dbf5ff
        Cyan: #9efdff

    NEW COLORS
        Dark Blue: #0b042d
        Purple: #692166
*/

/*********************************
    Header font
**********************************/
h1, h2, h3, h4 {
    font-family: ethnocentric,sans-serif;
    font-weight: 200;
    font-style: normal;
}

p, a, li, h1, h2, h3, h4 {
    color: #dbf5ff; /*White*/
}

img {
    width: 100%;
}

.center {
    text-align: center;
    width: 100%;
}


/*****************************
    Nav
 *****************************/

#sidebar {
    background-color: #692166; /*Accent*/
    padding-left: 2%;
}

/*Underline in Nav*/
#sidebar nav a:before {
    background: #dbf5ff; /*White*/
}

/*****************************
    Intro
*******************************/

#intro {
    background-color: #0b042d; /*Main*/
}

.wrapper.style2 {
    background-color: #692166; /*Accent*/
}

/******************************
    What We're Doing
*******************************/

#two {
    background-color: #0b042d; /*Main*/
}

/*****************************
    Get in touch
 *****************************/

#three {
    /*Main to Accent*/
    background: linear-gradient(#0b042d, #692166);
}

#three h2, #three p, #three label {
    color: #dbf5ff; /*White*/
}

#three input, textarea {
    background: rgb(219 245 255 / 0.55)
}

/********************************
    Footer
*********************************/

#footer {
    background-color: #692166; /*Accent*/
}

/********************************
    How It Works page
*********************************/

#main {
    background-color: #0b042d; /*Main*/
}

/*********************************
    Roadmap page
**********************************/

.check {
    list-style: none;
}

    .check::before {
        content: '✔';
        padding-right: 1.1rem;
        margin-left: -2rem;
    }